# Configurações do Supabase
SUPABASE_URL=https://sfplhlhvcaicbtomjyqv.supabase.co
SUPABASE_KEY=sua_chave_anon_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_aqui

# Configurações do Flask
SECRET_KEY=chave_secreta_para_sessoes_flask
